<p style="color: green"><%= notice %></p>
<% content_for :title, "Tips" %>
<h1>Tips</h1>
<div id="tips">
  <%= render @tips %>
  <%# @tips.each do |tip| % >
    < %= render tip % >
    <p>
      <% = link_to "Show this tip", tip % >
    </p>
  <% end % >
%>
</div>
<%= turbo_frame_tag "new_tip_model" do %>
  <%= link_to "New tip", new_tip_path, data: { turbo_frame_tag: "new_tip_model"} %>
<% end %>
